:root {
  color-scheme: light dark;
}

body {
font-size: 15px;
font-family: "Noto Sans", Arial;
color: light-dark(black, white);
background-color: light-dark(white, rgb(40, 40, 40));
}

a {
    text-decoration: none;
}

table {
    padding-top: 20px;
}

td {
    border-radius: 15px;
    vertical-align: top;
    padding: 0px;
}

span {
padding-left: 20px;
vertical-align: top;
}

div {
padding-left: 20px;
vertical-align: top;
}

.book_footnote {
    padding: 0px;
    font-style: italic;
    color: green;
}

.ra_en {
font-size:16px;
font-weight: bold;
padding-left: 10px;
padding-right:10px;
}

.qa_en {
font-size:16px;
font-weight: bold;
padding-left: 10px;
padding-right:10px;
}

.ra_ru {
font-size:16px;
font-weight: bold;
color: red;
padding-left: 10px;
padding-right: 10px;
}

.qa_ru {
font-size:16px;
color: red;
font-weight: bold;
padding-left: 10px;
padding-right: 10px;
}

.anchor {
text-decoration: none;
padding-left: 0px;
padding-right: 15px;
}

.inaudible {
    font-style: italic;
    color: light-dark(gray, rgb(150, 75, 0));
    padding: 0px;
}

.session {
text-align: center;
font-size: 14px;
}

.session_date {
text-align: center;
font-size: 14px;
color: gray;
}

.eng {
color: light-dark(gray, rgb(180, 180, 180));
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;

background-color:light-dark(rgb(230,230,230), rgb(60, 60, 60));
}

.rus {
color: light-dark(black, white);
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;

}

.pp {
    color: light-dark(blue, rgb(150, 150, 255));
    font-style: italic;
    padding: 0;
}
